#name{
    margin-left: 100px;
    font-size: 50px;

}
.about-head{
    color: #293c69;
    font-family:Arial, Helvetica, sans-serif;
    font-size:3em;
}
.about-img{
    height:15em;
    width: 30em;
}
.job-title{
    color: #293c69;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width:fit-content;

}
#about-name{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 1em;
}
.card-bg{
    width: 100%;
    display: flex;
}
.icons{
    font-size:4em;
}
.contact-section{
    background-color: #5684f0;
}